CLIENT_GATEWAY_PORT=3000
PORT_NATS=4222
POSTGRES_USER=*********
POSTGRES_PASSWORD=*********
POSTGRES_DB=********
NATS_SERVICE=nats://nats-server:4222
# This is a Payments Microservice specific configuration
PAYMENTS_MS_PORT=3003
CLIENT_GATEWAY_PORT=3000
STRIPE_SECRET=**********************
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
# Use the endpoint secret from your Stripe webhook settings
# You can find it in the Stripe Dashboard under Developers > Webhooks
STRIPE_ENDPOINT_SECRET=**********************
AUTH_DATABASE_URL=mongodb+srv://*************:*********@*****************.mongodb.net/AuthDB
JWT_SECRET=**********************

#ORDER DATABSE NEON TECH
ORDERS_DATABASE_URL=postgresql://*************:*********@***********************************.azure.neon.tech/orders-db?sslmode=require&channel_binding=require